<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title of the document</title>
</head>

<body>

    <main>

    <section class=»signup»>

    <form>

        <label for=»textInput»> Usuario: </label>

        <input type=»text» name=»textInput» id=»textInput» placeholder=»nombre de usuario»/>

        <label for=»passwordInput»> Contraseña: </label>

        <input type=»password» name=»passwordInput» id=»passwordInput» placeholder=»contraseña»/>

        <label for=»passwordMatchInput»> Contraseña: </label>

        <input type=»password» name=»passwordMatchInput» id=»passwordMatchInput» placeholder=»repite la contraseña»/>
        <button type=»submit»> Crear usuario </button>

    </form>

    </section>

    </main>

    </body>

</html>